################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/W500Core/bin/Debug/net8.0
/W500UI/obj/Debug/net8.0/apphost.exe
/.vs
/W500Core/obj/Debug/net8.0
/W500UI/obj/Debug/net8.0
/W500Core/bin/Release/net8.0
/W500Core/obj/Release/net8.0
/W500UI/bin/Debug/net8.0/W500Core.dll
/W500UI/bin/Debug/net8.0/W500Core.exe
/W500UI/bin/Debug/net8.0/W500Core.pdb
/W500UI/bin/Debug/net8.0/W500UI.dll
/W500UI/bin/Debug/net8.0/W500UI.exe
/W500UI/bin/Debug/net8.0/W500UI.pdb
/W500UI/bin/Debug/net8.0/W500UI.staticwebassets.runtime.json
/W500UI/bin/Release/net8.0/appsettings.Development.json
/W500UI/bin/Release/net8.0/appsettings.json
/W500UI/bin/Release/net8.0/W500Core.deps.json
/W500UI/bin/Release/net8.0/W500Core.dll
/W500UI/bin/Release/net8.0/W500Core.exe
/W500UI/bin/Release/net8.0/W500Core.pdb
/W500UI/bin/Release/net8.0/W500Core.runtimeconfig.json
/W500UI/bin/Release/net8.0/W500UI.deps.json
/W500UI/bin/Release/net8.0/W500UI.dll
/W500UI/bin/Release/net8.0/W500UI.exe
/W500UI/bin/Release/net8.0/W500UI.pdb
/W500UI/bin/Release/net8.0/W500UI.runtimeconfig.json
/W500UI/bin/Release/net8.0/W500UI.staticwebassets.runtime.json
/W500UI/obj/Debug/net8.0/ref/W500UI.dll
/W500UI/obj/publish/linux-x64
/W500UI/obj/Release/net8.0/linux-x64
*.dll
/W500UI/obj/Release/net8.0/staticwebassets
/W500UI/obj/Release/net8.0/scopedcss/bundle
/W500UI/obj/Release/net8.0/scopedcss/Components/Layout
/W500UI/obj/Release/net8.0/scopedcss/projectbundle
/W500UI/obj/project.assets.json
/W500UI/obj/project.nuget.cache
/W500UI/obj/W500UI.csproj.nuget.dgspec.json
/W500UI/Properties/PublishProfiles/w500 - Zip Deploy.pubxml
/W500UI/Properties/PublishProfiles/w500 - Zip Deploy.pubxml.user
/W500UI/obj/Release/net8.0/apphost.exe
/W500UI/obj/Release/net8.0/staticwebassets.build.json
/W500UI/obj/Release/net8.0/staticwebassets.development.json
/W500UI/obj/Release/net8.0/staticwebassets.pack.json
/W500UI/obj/Release/net8.0/W500UI.AssemblyInfo.cs
/W500UI/obj/Release/net8.0/W500UI.AssemblyInfoInputs.cache
/W500UI/obj/Release/net8.0/W500UI.assets.cache
/W500UI/obj/Release/net8.0/W500UI.csproj.AssemblyReference.cache
/W500UI/obj/Release/net8.0/W500UI.csproj.CopyComplete
/W500UI/obj/Release/net8.0/W500UI.csproj.CoreCompileInputs.cache
/W500UI/obj/Release/net8.0/W500UI.csproj.FileListAbsolute.txt
/W500UI/obj/Release/net8.0/W500UI.GeneratedMSBuildEditorConfig.editorconfig
/W500UI/obj/Release/net8.0/W500UI.genruntimeconfig.cache
/W500UI/obj/Release/net8.0/W500UI.pdb
/W500UI/obj/Release/net8.0/W500UI.sourcelink.json
/W500UI/Properties/ServiceDependencies/w500 - Zip Deploy/profile.arm.json
/W500UI/W500UI.csproj.user
