################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/W500UI/bin
/W500UI/obj
/W500Core/bin
/W500Core/obj
*.dll
