@page "/letterboxed"
@rendermode InteractiveServer

<PageTitle>LB</PageTitle>

@using W500Core
@using Microsoft.AspNetCore.Components.Forms
@inject LbService LbService

<p>
    <h5>Enter "Box" as 12-letter Word</h5>
    <input @oninput="EnterBox" value="@BoxEntry" />
</p>
<p>
    <h5>Suggested Words: @Suggestion</h5>
</p>
<p>
    <button @onclick="Reset">New Game</button>        
</p>
@if (_winner)
{
<p>
    <label class="btn-lg btn-success">Winner!</label>
</p>        
}
    
@code {
    private string? BoxEntry { set; get; }
    private string? Suggestion { set; get; }
    private bool _winner = false;

    protected async override Task OnInitializedAsync()
    {
        await Reset();
    }

    protected async Task Reset()
    {
        await LbService.Reset();
        Suggestion = string.Empty;
        _winner = false;
    }

    private async void EnterBox(ChangeEventArgs args)
    {
        BoxEntry = args.Value.ToString().ToLower();
        if (BoxEntry?.Length != W500Constants.LbWordLength) return;
        await LbService.EnterBox(BoxEntry);
        Suggestion = await LbService.GetSuggestions(30);
        BoxEntry = string.Empty;
        
    }
}
