@page "/letterboxed"
@rendermode InteractiveServer

<PageTitle>LB</PageTitle>

@using W500Core
@using Microsoft.AspNetCore.Components.Forms
@inject LbService LbService

<p>
    <h5>Enter "Box" as 12-letter Word</h5>
    <input @oninput="EnterBox" value="@BoxEntry" />
</p>
<p>
    <table>
        <thead>
            <tr>
                <td><b>Letter</b></td>
                <td><b>Starts With</b></td>
                <td><b>Ends With</b></td>
            </tr>
        </thead>
        <tbody>
                @foreach (var s in LbSuggestions.OrderBy(x=>x.Letter))
                {
                <tr>
                    <td>
                        @s.Letter
                    </td>
                    <td>
                        @String.Join(", ", s.StartsWith)
                    </td>
                    <td>
                        @String.Join(", ", s.EndsWith)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>
<p>
    <button @onclick="NewGame">New Game</button>        
</p>
<p>
    <button @onclick="ResetGuesses">Reset Guesses</button>
</p>

@code {
    private string? BoxEntry { set; get; }
    private List<LbSuggestion> LbSuggestions;

    protected async override Task OnInitializedAsync()
    {
        await NewGame();
    }

    protected async Task NewGame()
    {
        await LbService.Reset();
        LbSuggestions = new List<LbSuggestion>();
    }

    protected async Task ResetGuesses()
    {
        await LbService.Reset();
        LbSuggestions = new List<LbSuggestion>();
    }


    private async void EnterBox(ChangeEventArgs args)
    {
        BoxEntry = args.Value.ToString().ToLower();
        if (BoxEntry?.Length != W500Constants.LbWordLength) return;
        await LbService.EnterBox(BoxEntry);
        LbSuggestions = await LbService.GetSuggestions(5);
        BoxEntry = string.Empty;
        
    }
}
