@page "/letterboxed"
@rendermode InteractiveServer

<PageTitle>LB</PageTitle>

@using System.Diagnostics
@using HtmlAgilityPack
@using System.Text
@using W500Core
@using Microsoft.AspNetCore.Components.Forms
@inject LbService LbService
@inject HttpClient Http

<p>
    <button @onclick="RetrieveDailyPuzzle" disabled="@SpinnerVisible">Retrieve Puzzle</button>
</p>
<p>
    <h5>Box: @PrintBox(LbService.Box)</h5>
</p>
@if (LbService.Box?.Length > 0)
{
    <p><button @onclick="SolveDailyPuzzle" disabled="@SpinnerVisible">Solve Puzzle</button></p>
}

@if (SpinnerVisible)
{
    <div class="spinner-container">
        <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Primary" />
        <p>Loading, please wait...</p>
    </div>
}

@if (LbPath?.Length > 0)
{
    <p>
        <b>Best Solution: </b>@LbPath
    </p>
    <p>
        <i>Elapsed: @ElapsedSeconds</i>
    </p>
}

@if (OurSolution?.Length > 0)
{
    <p>
        <b>Official Solution: </b>@OurSolution
    </p>
}

@code {
    private string? BoxEntry { set; get; }
    private List<LbSuggestion> LbSuggestions = new();
    private string? LbPath { set; get; }
    private string? ElapsedSeconds { set; get; }
    private bool SpinnerVisible { set; get; }
    private string? OurSolution { set; get; }

    protected override async Task OnInitializedAsync()
    {
        SetSpinner(false);
    }

    protected async Task RetrieveDailyPuzzle()
    {
        string filePath = "compressed.html";
        var htmlDoc = new HtmlDocument();
        var htmlTask = await RetrieveHtmlFromUrl("https://nytimes.com/puzzles/letter-boxed");
        htmlDoc.LoadHtml(htmlTask);
        htmlDoc.Save(filePath);
        var gameData = HtmlExtractor.ExtractGameData(filePath);
        LbService.SetDictionary(gameData.dictionary);
        OurSolution = string.Join(", ", gameData.ourSolution);
        var box = string.Join("", gameData.sides);
        await LbService.SetBox(box);
    }

    private async Task SolvePuzzle()
    {
        await LbService.EnterBox(BoxEntry);
        LbSuggestions = await LbService.GetSuggestions();
        await LbService.FindShortestPath(null);
        LbPath = LbService.BestPath;
    }

    protected async Task ResetGuesses()
    {
        await LbService.Reset();
        LbSuggestions = new List<LbSuggestion>();
    }

        return stringBuilder.ToString();
    }

    private async Task SolveDailyPuzzle()
    {
        Stopwatch sw = new Stopwatch();
        sw.Start();
        LbPath = string.Empty;
        LbSuggestions = new List<LbSuggestion>();
        ElapsedSeconds = string.Empty;
        BoxEntry = args.Value.ToString().ToLower();
        if (BoxEntry?.Length != W500Constants.LbWordLength) return;
        SetSpinner(true);
        await Task.Run(() => SolvePuzzle());
        sw.Stop();
        ElapsedSeconds = $"{Math.Round(sw.Elapsed.TotalSeconds, 1)} seconds";
        SetSpinner(false);
    }
}
