<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b8a78d64-9ebd-4aae-9e7b-d4a58f8a3807/resourceGroups/rgW500/providers/Microsoft.Web/sites/w500</ResourceId>
    <ResourceGroup>rgW500</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://w500-bfeyc7bcg2gve6ej.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8fa2c229-7fa7-4782-96a2-f25f84f6180a</ProjectGuid>
    <PublishUrl>https://w500-bfeyc7bcg2gve6ej.scm.eastus2-01.azurewebsites.net/</PublishUrl>
    <UserName>$w500</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>